<h1>Dashboard</h1>

<div class="panel">
  <div class="panel-heading">Total Users</div>
  <div class="panel-body"><%=@user_count%></div>
</div>
<div class="panel">
  <div class="panel-heading">Started Applications</div>
  <div class="panel-body"><%=@apps_count%></div>
</div>
<div class="panel">
  <div class="panel-heading">Complete Applications</div>
  <div class="panel-body"><%=@apps_completed_count%></div>
</div>

<div>
<h3>New Applications</h3>
<%= line_chart @apps_by_create_date60 %>
</div>

<div>
<h3>Completed Applictions</h3>
<%= line_chart @apps_by_completed_date60 %>
</div>


<div><h3>Referral Source</h3>
<%= pie_chart @apps_by_referral_source %>
</div>


<div><h3>New Applications by Referral Source</h3>
<%= line_chart @apps_by_referral_source_date60 %>
</div>