<% content_for :page_title, 'Dashboard' %>

<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="ibox">
      <div class="ibox-title"><h5>Users</h5></div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= number_with_precision @user_count, precision: 0, delimiter: ',' %></h1>
        <small>Total Users</small>
      </div>
    </div>
  </div>


  <div class="col-md-3 col-sm-6">
    <div class="ibox">
      <div class="ibox-title"><h5>Started</h5></div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= number_with_precision @apps_count, precision: 0, delimiter: ',' %></h1>
        <small>Started Applications</small>
      </div>
    </div>
  </div>


  <div class="col-md-3 col-sm-6">
    <div class="ibox">
      <div class="ibox-title"><h5>Completed</h5></div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= number_with_precision @apps_completed_count, precision: 0, delimiter: ',' %></h1>
        <small>Completed Applications</small>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="ibox">
      <div class="ibox-title"><h5>Accepted</h5></div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= number_with_precision @apps_accepted_count, precision: 0, delimiter: ',' %></h1>
        <small>Accepted Applications</small>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Applications</h5>

        <div class="pull-right">
          <%= bootstrap_form_tag url: dashboard_path, method: 'get' do |f| %>
              <div class="btn-group">
                <%= f.button 'Week', name: 'apps_time_filter', value: 'week', class: (@app_line_time_filter == 'week') ? 'btn btn-xs btn-white time-filter active' : 'btn btn-xs btn-white time-filter' %>
                <%= f.button 'Month', name: 'apps_time_filter', value: 'month', class: (@app_line_time_filter == 'month') ? 'btn btn-xs btn-white time-filter active' : 'btn btn-xs btn-white time-filter' %>
                <%= f.button 'Quarter', name: 'apps_time_filter', value: 'quarter', class: (@app_line_time_filter == 'quarter') ? 'btn btn-xs btn-white time-filter active' : 'btn btn-xs btn-white time-filter' %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-9 m-b-sm">
            <%= line_chart dashboard_chart_data_path(type: 'created_and_completed', time_filter: @app_line_time_filter), library: {theme: 'maximized', legend: {position: 'in', alignment: 'end'}} %>
          </div>
          <div class="col-md-3">
            <ul class="stat-list">
              <li>
                <h2 class="no-margins"><%= number_with_precision @user_filter_count, precision: 0, delimiter: ',' %></h2>
                <small>New Users in period</small>
                <div class="stat-percent">
                  <%= number_with_precision(@user_filter_count.fdiv(@time_filter_days), precision: 1, delimiter: ',') %>
                  / day
                </div>
              </li>
              <li>
                <h2 class="no-margins "><%= number_with_precision @apps_started_filter_count, precision: 0, delimiter: ',' %></h2>
                <small>Started in period</small>
                <div class="stat-percent">
                  <%= number_with_precision(@apps_started_filter_count.fdiv(@time_filter_days), precision: 1, delimiter: ',') %>
                  / day
                </div>
              </li>
              <li>
                <h2 class="no-margins "><%= number_with_precision @apps_completed_filter_count, precision: 0, delimiter: ',' %></h2>
                <small>Completed in period</small>
                <div class="stat-percent">
                  <%= number_with_precision(@apps_completed_filter_count.fdiv(@time_filter_days), precision: 1, delimiter: ',') %>
                  / day
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Cohorts</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-2">
            <ul class="stat-list m-b-md">
              <li>
                <h2 class="no-margins"><%= @cohorts_active_count %></h2>
                <small>Active Cohorts</small>
              </li>
              <li>
                <h2 class="no-margins "><%= @cohorts_target_count %></h2>
                <small>Target Head Count</small>
              </li>
              <li>
                <h2 class="no-margins "><%= @cohorts_accepted_count %></h2>
                <small>Accepted Applicants</small>
                <div class="stat-percent font-bold <%= @cohorts_accepted_pct >= 80 ? 'text-navy' : 'text-danger' %>">
                  <%= number_to_percentage(@cohorts_accepted_pct, precision: 0) %>
                </div>
                <div class="progress progress-mini">
                  <div style="width: <%= number_to_percentage(@cohorts_accepted_pct) %>" class="progress-bar"></div>
                </div>
              </li>
              <li>
                <h2 class="no-margins"><%= @cohorts_confirmed_count %></h2>
                <small>Confirmed Students</small>
                <div class="stat-percent font-bold <%= @cohorts_confirmed_pct >= 80 ? 'text-navy' : 'text-danger' %>">
                  <%= number_to_percentage(@cohorts_confirmed_pct, precision: 0) %>
                </div>
                <div class="progress progress-mini">
                  <div style="width: <%= number_to_percentage(@cohorts_confirmed_pct) %>" class="progress-bar"></div>
                </div>
              </li>
            </ul>
          </div>

          <div class="col-md-10">
            <div class="project-list table-responsive">
              <table class="table table-hover" id="cohorts-table">
                <tbody>
                <% @cohorts.each do |cohort| %>
                    <tr>
                      <td class="hidden-xs hidden-sm">
                        <%= cohort_status_label cohort.status %>
                      </td>
                      <td class="project-title">
                        <%= link_to cohort.name, cohort %>
                        <div class="hidden-xs">
                          <small><%= cohort_full_label cohort %>
                            <span class="hidden-sm">(<%= cohort_next_action_label cohort %>)</span></small>
                        </div>
                      </td>
                      <td class="project-completion hidden-xs">
                        <small>Accepted Applicants: <%= cohort.accepted_application_count %></small>
                        <div class="progress progress-mini">
                          <div style="width: <%= number_to_percentage(cohort.accepted_application_pct) %>" class="progress-bar"></div>
                        </div>
                      </td>
                      <td class="project-completion">
                        <small>Confirmed Students: <%= cohort.confirmed_application_count %></small>
                        <div class="progress progress-mini">
                          <div style="width: <%= number_to_percentage(cohort.confirmed_application_pct) %>" class="progress-bar"></div>
                        </div>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Referral Source</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart dashboard_chart_data_path(type: 'referral_source'), library: {theme: 'maximized'} %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Payment Option</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart dashboard_chart_data_path(type: 'payment_option'), library: {theme: 'maximized'} %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Education</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart dashboard_chart_data_path(type: 'education'), library: {theme: 'maximized'} %>
      </div>
    </div>
  </div>
</div>
