<div class="row">
  <div class="col-md-3 col-xs-12">
    <div class="ibox">
      <div class="ibox-title"><h5>Users</h5></div>
      <div class="ibox-content">
        <h1 class="no-margin"><%= @user_count %></h1>
        <small>Total Users</small>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-xs-12">
    <div class="ibox">
      <div class="ibox-title"><h5>Started</h5></div>
      <div class="ibox-content">
        <h1 class="no-margin"><%= @apps_count %></h1>
        <small>Started Applications</small>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-xs-12">
    <div class="ibox">
      <div class="ibox-title"><h5>Complete</h5></div>
      <div class="ibox-content">
        <h1 class="no-margin"><%= @apps_completed_count %></h1>
        <small>Completed Applications</small>
      </div>
    </div>
  </div>


</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>New Applications</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-12 ">
            <%= line_chart @apps_by_create_date60 , library: {chartArea: {left: 50, top: 40, height:'75%', width:'90%'}}%>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Referral Source</h5>
      </div>
      <div class="ibox-content ">
        <div class="row">
          <div class="col-lg-4 ">
            <%= pie_chart @apps_by_referral_source , library:{legend: 'none'}%>
          </div>
          <div class="col-lg-8 ">
            <%= line_chart @apps_by_referral_source_date60, library: {chartArea: {left: 50, top: 40, height:'75%', width:'90%'},
                                                                      legend: 'bottom' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
