<h1>Logic Logic Question</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Question</th>
      <th>Solution</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logic_questions.each do |logic_question| %>
      <tr>
        <td><%= logic_question.question %></td>
        <td><%= logic_question.solution %></td>
        <td><%= logic_question.published %></td>
        <td><%= link_to 'Show', logic_question %></td>
        <td><%= link_to 'Edit', edit_logic_question_path(logic_question) %></td>
        <td><%= link_to 'Destroy', logic_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Logic question', new_logic_question_path %>
