<% content_for :page_title, "Logic Question" %>

<div class="ibox-content">
<p>
  <strong>Question:</strong>
  <%= @logic_question.question %>
</p>
<%= image_tag @logic_question.question_image.url %>

<p>
  <strong>Solution:</strong>
  <%= @logic_question.solution %>
</p>

<p>
  <strong>Published:</strong>
  <%= @logic_question.published %>
</p>

<%= link_to 'Edit', edit_logic_question_path(@logic_question) %> |
<%= link_to 'Back', logic_questions_path %>
</div>