<% content_for :page_title, "Cohorts" %>

<div class="ibox-content">

  <div class="row">

    <div class="col-md-4 float-e-margins">
      <%= bootstrap_form_tag url: cohorts_path, method: "get", layout: :vertical do |f| %>
          <%= f.select(:status, options_for_select([['Applications Open', 'current'], ['Pre-Classroom Start', 'pre_class'], ['Active', 'active']], @status_filter), {label: "Status", prompt: "All"}) %>
          <%= f.submit "Search", class: 'btn btn-default btn-sm' %>
      <% end %>
    </div>
    <div class="col-lg-2 col-lg-push-6 col-md-2 col-md-push-6 col-sm-2 col-sm-push-0 col-xs-2 col-xs-push-0 text-right">
      <%= link_to '<i class="fa fa-plus"></i> New Cohort'.html_safe, new_cohort_path, {class: "btn btn-primary btn-sm"} %>
    </div>

  </div>

  <div class="m-t-md">
    <div class="project-list table-responsive">
      <table class="table table-hover" id="cohorts-table">
        <!--thead>
        <tr>
          <th>Name</th>
          <th class="hidden-xs hidden-sm">Prework start</th>
          <th>Classroom start</th>
          <th class="hidden-xs hidden-sm">Graduation</th>
          <th class="hidden-xs hidden-sm">Applications open</th>
          <th class="hidden-xs hidden-sm">Applications close</th>
        </tr>
        </thead-->

        <tbody>
        <% @cohorts.each do |cohort| %>
            <tr>
              <td class="hidden-xs hidden-sm">
                <span class="label <%= cohort.active? ? 'label-primary' : 'label-default' %>">
                  <%= cohort.status %>
                </span>
              </td>
              <td class="project-title">
                <%= link_to cohort.name, cohort %>
                <div class="hidden-xs">
                <small><%= cohort.label %></small>
                </div>
              </td>
              <td class="project-completion hidden-xs">
                <small>Accepted Applicants: <%= cohort.accepted_application_count %></small>
                <div class="progress progress-mini">
                  <div style="width: <%= number_to_percentage(cohort.accepted_application_pct) %>" class="progress-bar"></div>
                </div>
              </td>
              <td class="project-completion hidden-xs">
                <small>Confirmed Students: <%= cohort.confirmed_application_count %></small>
                <div class="progress progress-mini">
                  <div style="width: <%= number_to_percentage(cohort.confirmed_application_pct) %>" class="progress-bar"></div>
                </div>
              </td>
              <td class="text-right">
                <%= link_to '<i class="fa fa-folder"></i> View'.html_safe, cohort, class: 'btn btn-white btn-sm' %>
                <%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_cohort_path(cohort), class: 'btn btn-white btn-sm' %>
                <%= link_to('<i class="fa fa-times"></i> Delete'.html_safe, cohort, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-white btn-sm') unless cohort.has_applications? %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>


</div>