<% content_for :page_title, "Cohort :: #{@cohort.name}" %>

<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="ibox">
      <div class="ibox-title"><h5>Users</h5></div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= @cohort.admission_applications.count %></h1>
        <small>Total Registrations</small>
      </div>
    </div>
  </div>


  <div class="col-md-3 col-sm-6">
    <div class="ibox">
      <div class="ibox-title"><h5>Applicants</h5></div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= @cohort.admission_applications.started.count %></h1>
        <small>Started Applications</small>
      </div>
    </div>
  </div>


  <div class="col-md-3 col-sm-6">
    <div class="ibox">
      <div class="ibox-title"><h5>Completed</h5></div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= @cohort.admission_applications.completed.count %></h1>
        <small>Completed Applications</small>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="ibox">
      <div class="ibox-title"><h5>Accepted Students</h5></div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= @cohort.assigned_admission_applications.count %></h1>
        <small>Total Students</small>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
      <h5>Year of Birth</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-12 ">
            <%= column_chart cohort_chart_data_path(cohort_id: @cohort, type: 'age'), library: {theme: 'maximized'} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Gender Breakdown</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart cohort_chart_data_path(cohort_id: @cohort, type: 'gender'), library: {theme: 'maximized'} %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Payment Option</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart cohort_chart_data_path(cohort_id: @cohort, type: 'payment_option'), library: {theme: 'maximized'} %>
      </div>
      <small><%= @cohort.assigned_admission_applications.aid_eligible.count %> students are aid eligible.</small>
    </div>
  </div>

  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Education</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart cohort_chart_data_path(cohort_id: @cohort, type: 'education'), library: {theme: 'maximized'} %>
      </div>
    </div>
  </div>
</div>


<div class="ibox-content">
<h3>
  <%= @cohort.name %>
</h3>

<p>
  <strong>Prework start:</strong>
  <%= @cohort.prework_start %>
</p>

<p>
  <strong>Classroom start:</strong>
  <%= @cohort.classroom_start %>
</p>

<p>
  <strong>Graduation:</strong>
  <%= @cohort.graduation %>
</p>

<p>
  <strong>Applications open:</strong>
  <%= @cohort.applications_open %>
</p>

<p>
  <strong>Applications close:</strong>
  <%= @cohort.applications_close %>
</p>

<p>
  <strong>Target Size:</strong>
  <%= @cohort.target_size %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
</div>