<% content_for :page_title, "Cohort :: #{@cohort.name}" %>

<div class="ibox-content">
<h3>
  <%= @cohort.name %>
</h3>

<p>
  <strong>Prework start:</strong>
  <%= @cohort.prework_start %>
</p>

<p>
  <strong>Classroom start:</strong>
  <%= @cohort.classroom_start %>
</p>

<p>
  <strong>Graduation:</strong>
  <%= @cohort.graduation %>
</p>

<p>
  <strong>Applications open:</strong>
  <%= @cohort.applications_open %>
</p>

<p>
  <strong>Applications close:</strong>
  <%= @cohort.applications_close %>
</p>

<p>
  <strong>Target Size:</strong>
  <%= @cohort.target_size %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
</div>