<% content_for :page_title, "Cohort :: #{@cohort.name}" %>

<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="ibox">
      <div class="ibox-title"><h5>Users</h5></div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= @cohort.admission_applications.count %></h1>
        <small>Total Registrations</small>
      </div>
    </div>
  </div>


  <div class="col-md-3 col-sm-6">
    <div class="ibox">
      <div class="ibox-title"><h5>Applicants</h5></div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= @cohort.admission_applications.started.count %></h1>
        <small>Started Applications</small>
      </div>
    </div>
  </div>


  <div class="col-md-3 col-sm-6">
    <div class="ibox">
      <div class="ibox-title"><h5>Completed</h5></div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= @cohort.admission_applications.completed.count %></h1>
        <small>Completed Applications</small>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="ibox">
      <div class="ibox-title"><h5>Accepted Students</h5></div>
      <div class="ibox-content">
        <h1 class="no-margins"><%= @cohort.assigned_admission_applications.count %></h1>
        <small>Total Students</small>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
      <h5>Year of Birth</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-12 ">
            <%= column_chart cohort_chart_data_path(cohort_id: @cohort, type: 'age'), library: {theme: 'maximized'} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Gender Breakdown</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart cohort_chart_data_path(cohort_id: @cohort, type: 'gender'), library: {theme: 'maximized'} %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Payment Option</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart cohort_chart_data_path(cohort_id: @cohort, type: 'payment_option'), library: {theme: 'maximized'} %>
      </div>
      <small>Of <%= @cohort.assigned_admission_applications.aid_eligible.count %> eligible students <%= @cohort.assigned_admission_applications.aid_eligible.not_aid_seeking.count %> are not seeking aid. <%= @cohort.assigned_admission_applications.aid_seeking.aid_ineligible.count %> aid seekers aren't eligible.</small>
    </div>
  </div>

  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Education</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart cohort_chart_data_path(cohort_id: @cohort, type: 'education'), library: {theme: 'maximized'} %>
      </div>
    </div>
  </div>
</div>

<div class="ibox-content">
  <div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="admission-application-datatable">
      <thead>
      <tr>
        <th class="hidden-xs">Email</th>
        <th>Applicant</th>
        <th>Status</th>
        <th class="hidden-xs">Logic</th>
        <th class="hidden-xs">Profile</th>
        <th class="hidden-xs">Resume</th>
        <th class="hidden-xs">Interview</th>
        <th class="hidden-xs hidden-sm">First Login</th>
        <th class="hidden-xs hidden-sm">Last Login</th>
        <th>&nbsp;</th>
      </tr>
      </thead>

      <tbody>
      <% @cohort.assigned_admission_applications.each do |admission_application| %>
          <tr>
            <td class="hidden-xs"><%= admission_application.user.email %></td>
            <td><%= admission_application.name %></td>
            <td><%= admission_application.application_status_name %></td>
            <td class="hidden-xs"><%= admission_application.logic_questions_score if admission_application.completed? %></td>
            <td class="hidden-xs"><%= admission_application.profile_questions_score if admission_application.completed? %></td>
            <td class="hidden-xs"><%= admission_application.resume_score if admission_application.completed? %></td>
            <td class="hidden-xs"><%= admission_application.interview_score_name if admission_application.completed? %></td>
            <td class="hidden-xs hidden-sm"><%= admission_application.created_at.to_formatted_s(:short) %></td>
            <td class="hidden-xs hidden-sm"><%= admission_application.user.last_sign_in_at.to_formatted_s(:short) %></td>
            <td>
              <%= link_to 'Show', admission_application_path(admission_application) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="ibox-content">
<h3>
  <%= @cohort.name %>
</h3>

<p>
  <strong>Prework start:</strong>
  <%= @cohort.prework_start %>
</p>

<p>
  <strong>Classroom start:</strong>
  <%= @cohort.classroom_start %>
</p>

<p>
  <strong>Graduation:</strong>
  <%= @cohort.graduation %>
</p>

<p>
  <strong>Applications open:</strong>
  <%= @cohort.applications_open %>
</p>

<p>
  <strong>Applications close:</strong>
  <%= @cohort.applications_close %>
</p>

<p>
  <strong>Target Size:</strong>
  <%= @cohort.target_size %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
</div>