<% content_for :page_title, "Cohort :: #{@cohort.name}" %>
<% content_for :page_sub_title, @cohort.course.label unless @cohort.course.nil? %>
<% content_for :page_title_nav do %>
    <%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_cohort_url(@cohort), class: 'btn btn-white btn-sm' %>
    <%= link_to('<i class="fa fa-times"></i> Delete'.html_safe, @cohort, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-white btn-sm') unless @cohort.has_applications? %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="ibox">
          <div class="ibox-title"><h5>Applicants</h5></div>
          <div class="ibox-content">
            <h1 class="no-margins"><%= @cohort.admission_applications.started.count %></h1>
            <small>Started Applications</small>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="ibox">
          <div class="ibox-title"><h5>Completed</h5></div>
          <div class="ibox-content">
            <h1 class="no-margins"><%= @cohort.admission_applications.all_completed.count %></h1>
            <small>Completed Applications</small>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="ibox">
          <div class="ibox-title"><h5>Accepted</h5></div>
          <div class="ibox-content">
            <h1 class="no-margins"><%= @cohort.accepted_application_count %></h1>

            <div class="stat-percent font-bold <%= @cohort.accepted_application_pct >= 80 ? 'text-navy' : 'text-danger' %>">
              <%= number_to_percentage(@cohort.accepted_application_pct, precision: 0) %>
            </div>
            <small>Accepted Students</small>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="ibox">
          <div class="ibox-title"><h5>Confirmed</h5></div>
          <div class="ibox-content">
            <h1 class="no-margins"><%= @cohort.confirmed_application_count %></h1>

            <div class="stat-percent font-bold <%= @cohort.confirmed_application_pct >= 80 ? 'text-navy' : 'text-danger' %>">
              <%= number_to_percentage(@cohort.confirmed_application_pct, precision: 0) %>
            </div>
            <small>Confirmed Students</small>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Ages Ranges</h5>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-12 ">
                <%= column_chart cohort_chart_data_path(cohort_id: @cohort, type: 'age'), library: {theme: 'maximized'} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Timeline</h5>
      </div>
      <div class="ibox-content inspinia-timeline">
        <%= render "cohorts/timeline", dateval: @cohort.applications_open , description: 'Open Enrollment', icon: 'fa-file-o' %>
        <%= render "cohorts/timeline", dateval: @cohort.applications_close , description: 'Enrollment Closed',icon: 'fa-lock' %>
        <%= render "cohorts/timeline", dateval: @cohort.prework_start , description: 'Pre-work', icon: 'fa-laptop' %>
        <%= render "cohorts/timeline", dateval: @cohort.classroom_start , description: 'Classroom', icon: 'fa-institution' %>
        <%= render "cohorts/timeline", dateval: @cohort.graduation , description: 'Graduation',icon: 'fa-graduation-cap' %>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Gender Breakdown</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart cohort_chart_data_path(cohort_id: @cohort, type: 'gender'), library: {theme: 'maximized'} %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Payment Option</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart cohort_chart_data_path(cohort_id: @cohort, type: 'payment_option'), library: {theme: 'maximized'} %>
        <small>Of <%= @cohort.assigned_admission_applications.aid_eligible.count %> eligible
          students <%= @cohort.assigned_admission_applications.aid_eligible.not_aid_seeking.count %> are not seeking
          aid. <%= @cohort.assigned_admission_applications.aid_seeking.aid_ineligible.count %> aid seekers aren't
          eligible.
        </small>
      </div>

    </div>
  </div>

  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Education</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart cohort_chart_data_path(cohort_id: @cohort, type: 'education'), library: {theme: 'maximized'} %>
      </div>
    </div>
  </div>
</div>

<div class="ibox-content">
  <div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="cohort-admission-application-datatable">
      <thead>
      <tr>
        <th class="hidden-xs">Email</th>
        <th>Applicant</th>
        <th>Status</th>
        <th class="hidden-xs">Logic</th>
        <th class="hidden-xs">Profile</th>
        <th class="hidden-xs">Resume</th>
        <th class="hidden-xs">Interview</th>
        <th>&nbsp;</th>
      </tr>
      </thead>

      <tbody>
      <% @cohort.assigned_admission_applications.each do |admission_application| %>
          <tr>
            <td class="hidden-xs"><%= admission_application.user.email %></td>
            <td><%= admission_application.name %></td>
            <td><%= admission_application.application_status_name %></td>
            <td class="hidden-xs"><%= admission_application.logic_questions_score if admission_application.completed_by_applicant? %></td>
            <td class="hidden-xs"><%= admission_application.profile_questions_score if admission_application.completed_by_applicant? %></td>
            <td class="hidden-xs"><%= admission_application.resume_score if admission_application.completed_by_applicant? %></td>
            <td class="hidden-xs"><%= admission_application.interview_score_name if admission_application.completed_by_applicant? %></td>
            <td>
              <%= link_to 'View', admission_application_path(admission_application) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

