<% content_for :page_title, "Cohort :: #{@cohort.name}" %>

<div class="row">
  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Gender Breakdown</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart cohort_chart_data_path(cohort_id: @cohort, type: 'gender'), library: {theme: 'maximized'} %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Payment Option</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart cohort_chart_data_path(cohort_id: @cohort, type: 'payment_option'), library: {theme: 'maximized'} %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Education</h5>
      </div>
      <div class="ibox-content ">
        <%= pie_chart cohort_chart_data_path(cohort_id: @cohort, type: 'education'), library: {theme: 'maximized'} %>
      </div>
    </div>
  </div>
</div>


<div class="ibox-content">
<h3>
  <%= @cohort.name %>
</h3>

<p>
  <strong>Prework start:</strong>
  <%= @cohort.prework_start %>
</p>

<p>
  <strong>Classroom start:</strong>
  <%= @cohort.classroom_start %>
</p>

<p>
  <strong>Graduation:</strong>
  <%= @cohort.graduation %>
</p>

<p>
  <strong>Applications open:</strong>
  <%= @cohort.applications_open %>
</p>

<p>
  <strong>Applications close:</strong>
  <%= @cohort.applications_close %>
</p>

<p>
  <strong>Target Size:</strong>
  <%= @cohort.target_size %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
</div>