<%= bootstrap_form_for(@admission_application) do |f| %>
    <h3>General</h3>
    <%= f.text_field :first_name, required:true %>
    <%= f.text_field :middle_name %>
    <%= f.text_field :last_name, required:true %>
    <%= f.text_field :phone, required:true, hint: "Format: 612-222-8108" %>
    <%= f.text_field :address, required:true %>
    <%= f.text_field :city, required:true %>
    <%= f.text_field :state, required:true %>
    <%= f.text_field :zip_code, required:true %>
    <h3>Demographics</h3>
    <%= f.date_field :birthdate %>
    <%= f.select(:gender, ["Male","Female","Other"], prompt: "") %>
    <h4>Race and Ethnicity</h4>
    <%= f.check_box :race_hispanic, label: "Hispanic or Latino" %>
    <%= f.check_box :race_nativeamerican, label: "American Indian or Alaska Native" %>
    <%= f.check_box :race_asian, label: "Asian" %>
    <%= f.check_box :race_black, label: "Black or African American" %>
    <%= f.check_box :race_islander, label: "Native Hawaiian or Other Pacific Islander" %>
    <%= f.check_box :race_white, label: "White" %>
    <%= f.check_box :race_other, label: "Other" %>
    <%= f.text_field :dependents, label: "Number of dependents" %>
    <%= f.select(:geography, ["Urban","Suburban","Rural"], prompt: "") %>
    <%= f.check_box :veteran, label: "Military Veteran?" %>
    <%= f.select :legal_status, ["US Citizen","Permanent Resident","Other"], required:true %>
    <%= f.select :education, ["High School","Some College","Associates Degree","Bachelors Degree","Graduate Degree"], label:"Highest level of education completed", required:true %>
    <%= f.select :employment_status, ["Employed Full-time","Employed Part-time","Self Employed","Unemployed"], required:true %>
    <%= f.select :goal,  ["Find work as a software engineer","Start a new business","Return to a previous job","Return to school","Other"], required: true, label: "After graduating from Prime my goal is to..." %>
    <%= f.text_field :income, label:"Current Annual Income", hint: "Example: 25000 (This will help us determine your eligibility for aid and will be verified later.)", as: :string, wrapper_html: { class: "currency"} %>
    <h3>Other</h3>
    <%= f.text_field :linkedin_account, label: "Link to your LinkedIn profile", hint:"Example: http://www.linkedin.com/in/myprofile" %>
    <%= f.text_field :twitter_account, label: "Your Twitter username", hint:"Example: \"goprimeacademy\" (do not include the @ symbol)" %>
    <%= f.text_field :github_account, label: "Your Github username", hint:"Example: \"primeacademy\"" %>
    <%= f.text_field :website_link, label: "Your personal website if you have one", hint:"Example: http://myawesomewebsite.com" %>
    <%= f.select :referral_source, ["Search Engine","Online Ad","Social Media Link","Radio Ad","Recruiting Event","Personal Referral","Media Coverage","Other"], label: "How did you hear about Prime?", required:true %>

    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', @admission_application, class: 'btn btn-link' %>
<% end %>
