<h1>Listing Applications</h1>

<p>Total Applications: <%= @admission_applications.count %></p>
<p>Completed Applications: <%= AdmissionApplication.completed.count %></p>

<%= form_tag(admission_applications_path, method: "get") do %>
    <%= label_tag(:cohort, "Cohort:") %>
    <%= select_tag(:cohort, content_tag(:option,'All',:value=>"")+options_from_collection_for_select(@cohorts, :id, :name, @cohort_id) ) %>
    <%= label_tag(:app_status, "Status:") %>
    <%= select_tag(:app_status, options_for_select([['All', '']] + @status_options ,@app_status) ) %>
    <%= submit_tag("Search") %>
<% end %>
<table class="table table-condensed table-hover" id="admission-application-datatable">
  <thead>
    <tr>
      <th>Email</th>
      <th>Applicant</th>
      <th>Status</th>
      <th>Logic</th>
      <th>Profile</th>
      <th>Resume</th>
      <th>First Login</th>
      <th>Last Login</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admission_applications.each do |admission_application| %>
      <tr>
        <td><%= admission_application.user.email %></td>
        <td><%= admission_application.name %></td>
        <td><%= admission_application.application_status %></td>
        <td><%= admission_application.logic_questions_score if admission_application.completed? %></td>
        <td><%= admission_application.profile_questions_score if admission_application.completed? %></td>
        <td><%= admission_application.resume_score if admission_application.completed? %></td>
        <td><%= admission_application.created_at.to_formatted_s(:short) %></td>
        <td><%= admission_application.user.last_sign_in_at.to_formatted_s(:short) %></td>
        <td>
          <%= link_to 'Show', admission_application_path(admission_application) %>
          <%#= link_to 'Edit', edit_admission_application_path(admission_application) %>
          <%#= link_to 'Destroy', admission_application, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
