<% content_for :page_title, "Applications" %>

<div class="ibox-content">
  <p>Total Applications: <%= @admission_applications_count %></p>

  <p>Completed Applications: <%= AdmissionApplication.all_completed.count %></p>

  <div class="row">
    <div class="col-md-4 float-e-margins">
      <%= bootstrap_form_tag url: admission_applications_path, method: "get", layout: :vertical do |f| %>
          <%= f.select(:cohort, options_from_collection_for_select(@cohorts, :id, :name, @cohort_id), {label: "Cohort Applied To", prompt: "All"}) %>
          <%= f.select(:assigned_cohort, options_from_collection_for_select(@cohorts, :id, :name, @assigned_cohort_id), {label: "Cohort Assigned To", prompt: "All"}) %>
          <%= f.select :app_status, grouped_options_for_select(@status_options, @app_status), {label: "Status", prompt: "All"} %>
          <%= f.submit "Search", class: 'btn btn-default btn-sm'%>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="admission-application-datatable" data-source="<%= admission_applications_path(format: :json) %>">
      <thead>
      <tr>
        <th>Email</th>
        <th>Applicant</th>
        <th>Status</th>
        <th class="hidden-xs">Last Status Update</th>
        <th class="hidden-xs hidden-sm">Assigned Cohort</th>
        <th class="hidden-xs">Logic</th>
        <th class="hidden-xs">Profile</th>
        <th class="hidden-xs">Resume</th>
        <th class="hidden-xs">Interview</th>
        <th>&nbsp;</th>
      </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
</div>


