<% content_for :page_title, "Application :: #{@admission_application.name}" %>


<div class="ibox-content">
  <h3><%= @admission_application.name %></h3>
  <dl>
    <dt>Email</dt>
    <dd><%= @admission_application.user.email %></dd>
    <dt>Phone</dt>
    <dd><%= @admission_application.phone || "incomplete" %></dd>
    <dt>Address</dt>
    <dd>
      <address>
        <%= simple_format(@admission_application.full_address) || "incomplete" %>
      </address>
    </dd>
    <% if !@admission_application.user.blank? %>
        <dt>First Login</dt>
        <dd><%= time_ago_in_words(@admission_application.user.created_at) if !@admission_application.user.created_at.blank? %>
          ago -
          <small class="text-muted"><%= @admission_application.user.created_at.to_formatted_s(:long_ordinal) %></small>
        </dd>
        <dt>Last Login</dt>
        <dd><%= time_ago_in_words(@admission_application.user.last_sign_in_at) if !@admission_application.user.last_sign_in_at.blank? %>
          ago -
          <small class="text-muted"><%= @admission_application.user.last_sign_in_at.to_formatted_s(:long_ordinal) if !@admission_application.user.last_sign_in_at.blank? %></small>
        </dd>
    <% end %>
  </dl>

  <div class="row">
    <div class="col-lg-3">
      <%= bootstrap_form_for(@admission_application, namespace: 'app_status', layout: :vertical) do |f| %>
          <%= f.select(:application_status, AdmissionApplication.application_status_options, label: "Status") %>
          <div id="assigned_cohort" class="<%= 'hidden' unless @admission_application.placed? %>">
            <%= f.collection_select(:assigned_cohort_id, @admission_application.cohorts, :id, :name ,{include_blank: 'Unassigned', label: 'Assigned Cohort'} ) %>
          </div>
          <%= f.submit "Update Status" %>
      <% end %>
    </div>
  </div>

  <br/>
  <ul class="nav nav-tabs" role="tablist" id="admission-application-index-tabs">
    <li<%= ' class="active"'.html_safe if cookies[:admission_application_index_active_tab].blank? || cookies[:admission_application_index_active_tab] == 'general' %>>
      <a href="#general" data-toggle="tab">General</a></li>
    <li<%= ' class="active"'.html_safe if cookies[:admission_application_index_active_tab] == 'technical' %>>
      <a href="#technical" data-toggle="tab">Technical (<%= @admission_application.resume_score.to_i %>)</a></li>
    <li<%= ' class="active"'.html_safe if cookies[:admission_application_index_active_tab] == 'profile' %>>
      <a href="#profile" data-toggle="tab">Profile (<%= @admission_application.profile_questions_score %>)</a></li>
    <li<%= ' class="active"'.html_safe if cookies[:admission_application_index_active_tab] == 'logic' %>>
      <a href="#logic" data-toggle="tab">Logic (<%= @admission_application.logic_questions_score %>) </a></li>
    <li<%= ' class="active"'.html_safe if cookies[:admission_application_index_active_tab] == 'interview' %>>
      <a href="#interview" data-toggle="tab">Interview (<%= @admission_application.interview_score %>)</a></li>
    <li<%= ' class="active"'.html_safe if cookies[:admission_application_index_active_tab] == 'demographics' %>>
      <a href="#demographics" data-toggle="tab">Demographics</a></li>
  </ul>

  <!-- GENERAL -->
  <div class="tab-content">
    <div role="tabpanel" class="<%= 'active '.html_safe if cookies[:admission_application_index_active_tab].blank? || cookies[:admission_application_index_active_tab] == 'general' %>tab-pane gray-bg container-fluid" id="general">
      <div class="row">
        <div class="col-md-6">
          <div class="ibox m-t-md">
            <div class="ibox-title">
              <h3>Information</h3>
            </div>
            <div class="ibox-content">
              <h4>Education and Employment</h4>
              <dl>
                <dt>Legal Status</dt>
                <dd><%= @admission_application.legal_status || "incomplete" %></dd>
                <dt>Education</dt>
                <dd><%= @admission_application.education || "incomplete" %></dd>
                <dt>Employment Status</dt>
                <dd><%= @admission_application.employment_status || "incomplete" %></dd>
                <dt>Goal</dt>
                <dd><%= @admission_application.goal || "incomplete" %></dd>
              </dl>

              <h4>Income</h4>
              <dl>
                <dt>Annual Income</dt>
                <dd><%= number_to_currency(@admission_application.income, precision: 0) || "incomplete" %></dd>
              </dl>

              <h4>Links and Social Accounts</h4>
              <dl>
                <dt>LinkedIn</dt>
                <dd><%= @admission_application.linkedin_account.blank? ? 'incomplete' : @admission_application.linkedin_account %></dd>
                <dt>Twitter</dt>
                <dd><%= @admission_application.twitter_account.blank? ? 'incomplete' : @admission_application.twitter_account %></dd>
                <dt>Github</dt>
                <dd><%= @admission_application.github_account.blank? ? 'incomplete' : @admission_application.github_account %></dd>
                <dt>Your Website</dt>
                <dd><%= @admission_application.website_link.blank? ? 'incomplete' : @admission_application.website_link %></dd>
              </dl>

              <h4>Payments</h4>
              <dl>
                <dt>Expected Payment Source</dt>
                <dd><%= @admission_application.payment_option %></dd>
              </dl>



              <h4>Cohorts</h4>

              <p>You indicated interest in the following cohorts:</p>
              <ul>
                <% @admission_application.cohorts.each do |cohort| %>
                    <li><%= cohort.label %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="ibox m-t-md">
            <div class="ibox-title">
              <h3>Notes</h3>
            </div>
            <div class="ibox-content">
              <%= render "comments/form", context: @admission_application, comment: @new_comment, button_text: "Add Call Note" %>
            </div>
            <% if @admission_application.comments.count > 0 %>
                <div class="ibox-content">
                  <div class="feed-activity-list">
                    <% @admission_application.comments.each do |comment| %>
                        <% if !comment.id.nil? %>
                            <%= render "comments/list", context: @admission_application, comment: comment %>
                        <% end %>
                    <% end %>
                  </div>
                </div>
            <% else %>
                <div class="ibox-content">
                  <div class="feed-activity-list">
                    <div class="feed-element">
                      <div>
                        No Notes
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- TECHNICAL CHALLENGE -->
    <div role="tabpanel" class="<%= 'active '.html_safe if cookies[:admission_application_index_active_tab] == 'technical' %>tab-pane gray-bg container-fluid" id="technical">
      <div class="row">
        <div class="col-md-6">
          <div class="ibox m-t-md">
            <div class="ibox-title">
              <h3>Technical Challenges</h3>
            </div>
            <div class="ibox-content">
              <dl>
                <dt>Resume</dt>
                <dd><%= link_to @admission_application.resume_link, @admission_application.resume_link %></dd>
              </dl>
              <div class="row">
                <div class="col-lg-9">
                  <%= bootstrap_form_for @admission_application, :namespace => "resume_score" do |f| -%>
                      <%= f.select(:resume_score, 1..5, prompt: "") %>
                      <%= f.fields_for :comments, @tech_comment do |ff| %>
                          <%= ff.text_area :content, label: "Technical Challenge Note", rows: 5, placeholder: "Add Note..." %>
                          <%= ff.hidden_field :id %>
                          <%= ff.hidden_field :sub_type %>
                          <%= ff.hidden_field :admin_id %>
                      <% end %>
                      <%= f.submit "Update Scores", id: "technical_score_submit" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">

          <div class="ibox m-t-md">
            <div class="ibox-title">
              <h3>Notes</h3>
            </div>
            <% if @admission_application.comments.technical.count > 0 %>
                <div class="ibox-content">
                  <div class="feed-activity-list">
                    <% @admission_application.comments.technical.each do |comment| %>
                        <%= render "comments/list", context: @admission_application, comment: comment %>
                    <% end %>
                  </div>
                </div>
            <% else %>
                <div class="ibox-content">
                  <div class="feed-activity-list">
                    <div class="feed-element">
                      <div>
                        No Technical Challenge Notes
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- PROFILE -->
    <div role="tabpanel" class="<%= 'active '.html_safe if cookies[:admission_application_index_active_tab] == 'profile' %>tab-pane gray-bg container-fluid" id="profile">
      <div class="row">
        <div class="col-sm-12">
          <div class="ibox m-t-md">
            <div class="ibox-title">
              <h3>Profile Questions</h3>
            </div>
            <div class="ibox-content">
              <%= bootstrap_form_for @admission_application, :namespace => "profile_score", layout: "vertical" do |f| -%>
                  <%= f.fields_for :profile_question_answers do |answer_form| %>
                      <%= div_for answer_form.object do %>
                          <h4><%= simple_format answer_form.object.profile_question.question %></h4>
                          <%= simple_format answer_form.object.answer %>
                          <div class="row">
                            <div class="col-md-3">
                              <%= answer_form.select :score, 1..5, prompt: "", hide_label: true %>
                            </div>
                          </div>
                          <%= answer_form.hidden_field :profile_question_id, :value => answer_form.object.profile_question.id %>
                          <%= answer_form.hidden_field :id, :value => answer_form.object.id %>
                      <% end %>
                  <% end %>
                  <%= f.submit "Update Scores" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="<%= 'active '.html_safe if cookies[:admission_application_index_active_tab] == 'logic' %>tab-pane gray-bg container-fluid" id="logic">
      <div class="row">
        <div class="col-sm-11">
          <div class="ibox m-t-md">
            <div class="ibox-title">
              <h3>Logic Questions</h3>
            </div>
            <div class="ibox-content">
              <%= render @admission_application.logic_question_answers %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- DEMOGRAPHICS -->
    <div role="tabpanel" class="<%= 'active '.html_safe if cookies[:admission_application_index_active_tab] == 'demographics' %>tab-pane gray-bg container-fluid" id="demographics">
      <div class="row">
        <div class="col-sm-12">
          <div class="ibox m-t-md">
            <div class="ibox-title">
              <h3>Demographics</h3>
            </div>
            <div class="ibox-content">
              <%= bootstrap_form_for @admission_application, :namespace => "demographics_form", layout: "vertical" do |f| -%>
                  <%= f.date_field :birthdate %>
                  <%= f.select(:gender, ["Male","Female","Other"], prompt: "") %>
                  <h4>Race and Ethnicity</h4>
                    <%= f.check_box :race_hispanic, label: "Hispanic or Latino" %>
                    <%= f.check_box :race_nativeamerican, label: "American Indian or Alaska Native" %>
                    <%= f.check_box :race_asian, label: "Asian" %>
                    <%= f.check_box :race_black, label: "Black or African American" %>
                    <%= f.check_box :race_islander, label: "Native Hawaiian or Other Pacific Islander" %>
                    <%= f.check_box :race_white, label: "White" %>
                    <%= f.check_box :race_other, label: "Other" %>
                    <%= f.text_field :dependents, label: "Number of dependents" %>
                  <%= f.select(:geography, ["Urban","Suburban","Rural"], prompt: "") %>
                  <%= f.check_box :veteran, label: "Are you a United States Military Veteran?" %>
                  <%= f.submit "Update Demographics" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- INTERVIEW -->
    <div role="tabpanel" class="<%= 'active '.html_safe if cookies[:admission_application_index_active_tab] == 'interview' %>tab-pane gray-bg container-fluid" id="interview">
      <div class="row">
        <div class="col-md-6">
          <div class="ibox m-t-md">
            <div class="ibox-title">
              <h3>Interview Score</h3>
            </div>
            <div class="ibox-content">
              <div class="row">
<div class="col-lg-12">
                  <%= bootstrap_form_for @admission_application, :namespace => "interview_score" do |f| -%>
                      <%= f.select(:interview_score, AdmissionApplication.interview_score_options, label: "Interview Score") %>
                      <%= f.submit "Update Scores", id: "interview_score_submit" %>
                  <% end %>
</div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="ibox m-t-md">
            <div class="ibox-title">
              <h3>Notes</h3>
            </div>
            <div class="ibox-content">
              <%= render "comments/form", context: @admission_application, comment: @new_interview_comment, form_id: 'interview_new_comment', placeholder: 'Add interview note...', button_text: "Add Interview Note" %>
            </div>
            <% if @admission_application.comments.interview.count > 0 %>
                <div class="ibox-content">
                  <div class="feed-activity-list">
                    <% @admission_application.comments.interview.each do |comment| %>
                        <% if !comment.id.nil? %>
                            <%= render "comments/list", context: @admission_application, comment: comment %>
                        <% end %>
                    <% end %>
                  </div>
                </div>
            <% else %>
                <div class="ibox-content">
                  <div class="feed-activity-list">
                    <div class="feed-element">
                      <div>
                        No Interview Notes
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>