<% content_for :head do %>

    <!-- FACEBOOK -->
    <meta property="og:url" content="<%= root_url %>" />
    <meta property="og:title" content="Prime Digital Academy - Become an entry level software developer in 18 weeks." />
    <meta property="og:description" content="Prime is an intense, immersive 18-30 week training experience focused teaching people the fundamentals of software development through experiential learning and apprenticeship. Apply today to code tomorrow." />
    <meta property="og:image" content="<%= asset_url("image-social-share.jpg") %>" />

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@goprimeacademy" />
    <meta name="twitter:creator" content="@goprimeacademy">
    <meta name="twitter:title" content="Prime Software Engineering Academy" />
    <meta name="twitter:description" content="Prime is an intense, immersive 18-30 week training experience focused teaching people the fundamentals of software development through experiential learning and apprenticeship. Apply today to code tomorrow." />
    <meta name="twitter:image:src" content="<%= asset_url("image-social-share.jpg") %>">

<% end %>


<div class="section section-masthead" id="masthead">    
    <div class="section-body">    
        <%= link_to image_tag("logo-prime.svg", :alt=>"Prime - Software Engineering Academy", :itemprop=>"logo"), root_path, class: "section-masthead-logo" %>
        <h1>Prime yourself for a software development career in 18 weeks.</h1>
    </div>
    <div class="video-header">
        <video autoplay loop class="video-header-video">
            <source src="<%= asset_url("header.mp4") %>" type="video/mp4"/>
            <source src="<%= asset_url("header.ogg") %>" type="video/ogg"/>
            <source src="<%= asset_url("header.webm") %>" type="video/webm"/>
        </video>
        <div class="video-header-still"></div>
        <div class="video-shadow"></div>        
    </div>    
</div>

<div class="section section-intro" id="intro">
    <div class="section-body">
        <h2>Code tomorrow.</h2>
        <p class="preface">Computing is changing the world. People with the skills to design and build software have become essential for progress in science, technology, politics, healthcare and business  — but there isn’t enough skilled talent to go around. Prime Digital Academy believes there is an untapped army of smart, passionate problem solvers able to rise to the challenge of building tomorrow’s software. We’re here to help them get ready.</p>
        <div class="section-intro-columns">
            <div class="section-intro-column column-copy">
                <p>Working directly with employers, we’ve re-engineered software development education to prioritize the capabilities newcomers need to make immediate contributions to the future of software. Our students learn modern technologies, real world methodology and relevant behavioral skills through hands-on, experiential learning. We’re empowering learners from diverse backgrounds to start contributing to the software revolution in months, not years.</p>
                <p class="cta-copy">Develop a future in software, apply to Prime and code tomorrow.</p>
            </div>            
            <div class="section-intro-column column-cohorts">
                <h3>WHEN WILL TOMORROW START FOR YOU?</h3>
                <table class="cohorts-table">
                    <thead>
                        <tr>
                            <th>Applications Close</th>    
                            <th>Prework Begins</th>
                            <th>Classroom Begins</th>
                            <th>Graduation</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% already_processed_first_pass = false %>   
                    <% @cohorts.each do |cohort| -%>    
                        <tr <% unless already_processed_first_pass %>class="first"<% end %>>
                            <td><%= 30.days.from_now > cohort.applications_close ? "In " + (cohort.applications_close - Date.today).to_i.to_s + " Days" : cohort.applications_close.strftime("%b %e") %></td>
                            <td><%= cohort.prework_start.strftime("%b %e") %></td>
                            <td><%= cohort.classroom_start.strftime("%b %e") %></td>
                            <td><%= cohort.graduation.strftime("%b %e") %></td>
                        </tr>
                        <% already_processed_first_pass = true %>   
                    <% end %>
                    </tbody>
                </table>

                <%= link_to "START YOUR APPLICATION NOW","/apply", class: "button section-intro-cta-button" %>
            </div>
        </div>
    </div>
</div>

<div class="section section-numbers" id="numbers">
    <div class="section-body">
        <h2>We have plenty to say about the tech talent gap, but we’ll let the numbers (and the employers) speak for themselves.</h2>
        
        <div class="section-numbers-block">
            <div class="block-statistic">
                <div class="block-statistic-number">28<span class="symbol">%</span></div>
                <p>increase in US application development jobs projected by 2020.</p>
            </div>
            <div class="block-quote">
                <blockquote>
                    “We are always looking for smart people who’ve taken the initiative to learn to program. A traditional computer science background is a lot less important to us than a passion for problem solving and the ability to do the work."    
                </blockquote>
                <p class="speaker">Tom O'Neill, President, The Nerdery</p>
            </div>
        </div>
    
        <div class="section-numbers-block section-numbers-block-even">
            <div class="block-statistic">
                <div class="block-statistic-number">60<span class="symbol">%</span></div>
                <p>of US companies have unfilled tech jobs.</p>
            </div>
            <div class="block-quote">
                <blockquote>
                    "What excites us about Prime is their passion for truly preparing new developers for the realities of the tech industry. The disciplines and expectations that Prime instills with graduates is what's been missing from traditional academic tech programs."    
                </blockquote>
                <p class="speaker">Chad Halvorson, CEO/Founder, When I Work</p>
            </div>
        </div>

        <div class="section-numbers-block">
            <div class="block-statistic">
                <div class="block-statistic-number"><span class="symbol">$</span>50<span class="symbol">K</span></div>
                <p>is the average salary of an entry level developer in MN.</p>
            </div>
            <div class="block-quote">
                <blockquote>
                    "Software engineers are at the heart of GovDelivery’s business, and Prime’s program is an innovative solution to developing more of them the Minnesota way&mdash;by tapping the amazing talent pool we already have.  We believe Prime can connect hundreds of new people with rewarding careers in technology and that it will be a competitive asset to our business and the State of Minnesota."    
                </blockquote>
                <p class="speaker">Scott Burns, CEO/Co-Founder, Gov Delivery</p>
            </div>
        </div>
    </div>
</div>

<div class="section section-program" id="program">
    <div class="section-body">
    	<h2>Our Program at a Glance</h2>
        <p>Prime prepares our students to join the industry as entry-level software engineers through a program centered around a 12 week immersive classroom experience. We’ll use modern technologies like HTML / CSS, Javascript, jQuery, AngularJS and Node.js to give you foundational knowledge in software engineering you’ll be apply in any technical environment. Your experience with Prime will look like this:</p>

        <%= image_tag "diagram-program.svg", class: "program-diagram" %>

        <ul class="program-components">
            <li class="program-component program-component-preload">
                <div class="program-component-body">
                    <h3>Preload</h3>
                    <p>Students come to Prime from different backgrounds and varying levels of technical experience. Preloading is our way of ensuring everyone shows up to the first day in class ready to speak the same language and successfully learn together.  You’ll warm up for your classroom experience over 6 weeks, learning online on your schedule and checking in weekly with the instructor who’ll lead your cohort when you arrive at school.</p>
                </div>
            </li>
            <li class="program-component program-component-boot">
                <div class="program-component-body">
                    <h3>Boot</h3>
                    <p>Your first six weeks at Prime is coding bootcamp. As you begin your classroom experience, you’ll dive headfirst into fundamental software engineering concepts. You’ll learn from instructors, mentors and each other as you apply concepts from lectures in hands-on challenges. The days are long, but the skills you learn in Boot are foundational to your new career.</p>
                </div>
            </li>
            <li class="program-component program-component-build">
                <div class="program-component-body">
                    <h3>Build</h3>
                    <p>You learn by doing, that’s why the second six weeks of the classroom experience is focused on project work. You’ll learn how to be part of a software development team, practicing behaviors and techniques you’ll use every day as a working engineer. You’ll have the chance to work on projects of your own design as well as helping real world startups build prototypes to prove their concepts.</p>
                </div>
            </li>
            <li class="program-component program-component-launch">
                <div class="program-component-body">
                    <h3>Launch</h3>
                    <p>After 18 weeks, your classroom experience concludes. Students may seek entry-level positions immediately, but many will apply to positions in Prime’s LAUNCH apprenticeship network to get exposure to other technologies first. Developed with employers specifically for our graduates, these apprenticeships provide a way to earn some real world experience and make some money while you’re at it.</p>
                </div>
            </li>
        </ul>

        <div class="program-applicants-info">
            <div class="program-applicants">
                <h2>Who Should Apply?</h2>
                <p>The world’s best software engineers all have one thing in common: they all started with no experience. Our accelerated learning program primes high potential students to begin their careers in software development and provides them with a framework to keep developing themselves while they develop software to solve real-world problems.</p>

                <p>Here’s what we're looking for in Prime applicants:</p>
                <ul>    
                    <li>Resiliency to learn from failure and keep experimenting</li>
                    <li>Curiosity, with a voracious learning mindset</li>
                    <li>Intense personal drive, pragmatism, and resourcefulness</li>
                    <li>Commitment to empathy and inclusivity</li>
                    <li>Enough experience to know coding is for you</li>
                </ul>        
            </div>
            <div class="cta">
                <p>You don’t need to be a seasoned coder to succeed at Prime. In fact, our program is designed to ensure that even if you come to us with no experience, we’ll get you ready for your first job by the time we send you on your way. If you’re new to software, our application process includes links to resources you can explore to make sure software engineering is the right future for you.</p>
                <p class="cta-copy">Are you ready to start your career in software development?</p>
                <%= link_to "START YOUR APPLICATION","/apply", class: "button section-program-cta-button" %>
            </div>
        </div>
    </div>
</div>

<div class="section section-difference" id="difference">
    <div class="section-body">
        <h2>How Are We Different?</h2>
        <p>We’re changing the way people learn software engineering, here’s some of what makes our approach unique.</p>
    </div>
</div>
<div class="section difference-item difference-item-inside">
    <div class="section-body">
        <div class="difference-item-body">
            <h3>Learn Development from the Inside</h3>
            <p>Founded by and co-located with award-winning software development company, The Nerdery, Prime brings a holistic approach to  helping students understand the job of a software engineer and how they’ll need to interface and collaborate with project managers, designers, quality assurance and especially clients and stakeholders. Students will experience the vibrant culture of The Nerdery and get real exposure to the working life of a software engineer starting on their first day of school.</p>
        </div>
    </div>
</div>
<div class="section difference-item difference-item-experts">
    <div class="section-body">
        <div class="difference-item-body">
            <h3>Learn from Industry Experts</h3>
            <p>Supporting our seasoned instructors, classroom mentorship at Prime is delivered through a unique sabbatical program that offers working software engineers of our hiring network the chance to bring their expertise into the classroom without leaving their job. As a student you’ll spend each day learning from technical experts with up-to-the-minute insight you won't find in any textbook.</p>
        </div>
    </div>
</div>
<div class="section difference-item difference-item-doing">
    <div class="section-body">
        <div class="difference-item-body">
            <h3>Learn by Doing</h3>
            <p>Prime’s curriculum is engineered from top to bottom to prepare you for the software engineering workplace through exposure to pragmatic best practices and real world work. Our assignments are abstracted from work done by entry level programmers in our hiring network, and the projects in the second half of the program are tackling the real technology needs of startups in our community. You’ll leave the program with a portfolio of work, not just a collection of homework exercises.</p>
        </div>
    </div>
</div>
<div class="section difference-item difference-item-apprenticeship">
    <div class="section-body">        
        <div class="difference-item-body">
            <h3>Learn Through Apprenticeship</h3>
            <p>The hardest part of launching a new career is getting your foot in the door. Prime Digital Academy’s partnerships with dozens of local tech employers connect you with hiring managers at the industry's best workplaces. Our network of apprenticeship positions, designed specifically with Prime graduates in mind provides three or more months of paid, on the job experience to get your resume started. Placement in these programs must be earned, but we’ve worked with the network to ensure that you’re learning everything you need to know to hit the ground running in your first gig as a software engineer.</p>
        </div>
    </div>
    <div class="section-divider"></div>        
</div>

<div class="section section-curriculum" id="curriculum">
    <div class="section-body">
    	<h2>What You'll Learn</h2>
        <p>We’re constantly updating our curriculum to respond to the evolution of technology and the feedback from our hiring network. We start with fundamental programming methodologies and design patterns like MVC and object-oriented programming, but we quickly bring theory into practice with a focus on toolsets, authentic workplace context and behavioral skills.</p>
        <div>
            <%= image_tag "image-curriculum@2x.png", class: "curriculum-image" %>
        </div>
    </div>
</div>
<div class="section section-toybox">
    <div class="section-body">
        <div class="sidebar-toybox">
            <h3>The "Toybox"</h3>
            <p>Software engineering can be a little abstract, that’s why we’ve collected tactile technologies ranging from quadcopter drones to virtual reality gear to internet-enabled lighting rigs. The toybox gives students a chance to see their code operating in the physical world. Developing a program to make a light bulb turn on can make "the lightbulb go off" when it comes to learning how to apply your skills in new ways.</p>
        </div>
    </div>
</div>    

<div class="section section-schedule" id="schedule">
    <div class="section-body">
        <h2>All In A Day's Work</h2>
        <p>Each day at Prime is a unique adventure, but here’s what they'll generally have in common:</p>
        <div class="schedule-planner">
            <div class="schedule-column schedule-column-left">
                <ol class="schedule-items">
                    <li class="schedule-item">
                        <div class="schedule-item-time">8:00</div>
                        <h4>Morning Ramp-Up</h4>
                        <p>Grab some coffee and get answers to questions that might be plaguing you from yesterday's challenge or show us something cool you coded overnight!</p>
                    </li>
                    <li class="schedule-item schedule-item-class">
                        <div class="schedule-item-time">9:00</div>
                        <h4>Morning Concept</h4>
                        <p>Your instructor introduces the morning’s key concept with a lecture. Things stay interactive with live coding, class participation and plenty of time for questions.</p>
                    </li>
                    <li class="schedule-item  schedule-item-work">
                        <div class="schedule-item-time">10:00</div>
                        <h4>Pair Challenge</h4>
                        <p>You’ll tackle the morning's assignment paired with one of your classmates. Working together you’ll apply the concepts you’ve just learned to a code challenge.</p>
                    </li>
                    <li class="schedule-item schedule-item-class">
                        <div class="schedule-item-time">11:00</div>
                        <h4>Team Skills</h4>
                        <p>No developer is an island. To succeed in the industry you’ll need to learn to work effectively on a team. Here you’ll develop conflict resolution and collaboration skills.</p>
                    </li>
                    <li class="schedule-item">
                        <div class="schedule-item-time">12:00</div>
                        <h4>Lunch</h4>
                        <p>Need an hour to process? No problem! Lunch time group activies are designed to keep you engaged with the day’s topic and each other while you refuel.</p>
                    </li>                                    
                </ol>               
            </div> 
            <div class="schedule-column schedule-column-right">                
                <ol class="schedule-items">
                    <li class="schedule-item schedule-item-double schedule-item-class">
                        <div class="schedule-item-time">1:00</div>
                        <h4>Afternoon Concept</h4>
                        <p>Afternoon concepts will be more complex requiring more hands-on instruction and practice, but your instructor will break it down for you so its easy to work through.</p>
                    </li>                
                    <li class="schedule-item schedule-item-double schedule-item-work">
                        <div class="schedule-item-time">3:00</div>
                        <h4>Evening Challenge</h4>
                        <p>Cap off the day with a challenge covering everything you’ve learned. We’ll talk through the problem as a group before breaking up into teams to conquer the task at hand.</p>
                    </li>                       
                    <li class="schedule-item">
                        <div class="schedule-item-time">5:00</div>
                        <h4>Guest Speaker</h4>
                        <p>Occasionally, you’ll get a break from the evening challenge as we bring in speakers from the development community. You’ll learn while building your professional network.</p>
                    </li>               
                </ol>
            </div>        
        </div>
    </div>
    <div class="section-divider"></div>        
</div>


<div class="section section-tuition" id="tuition">
    <div class="section-body">
    	<h2>Tuition: How Much To Change Your Future?</h2>
        <p>We offer three payment plans to help make Prime accessible to everyone.</p>        
    
        <div class="tuition-plans">

            <div class="tuition-plans-banner"></div>

            <div class="tuition-plan tuition-plan-prepay">
                <h3><span>Option 1 </span>Prepay</h3>
                <div class="tuition-plan-price"><span>$</span>12,000<span>*</span></div>
                <p>Payments:</p>
                <ul>
                    <li>$1,500 due on acceptance</li>
                    <li>$10,500 due week 7</li>
                </ul>
                <p class="tuition-plan-notes">* includes a $500 prepay discount</p>
            </div>

            <div class="tuition-plan tuition-plan-asyougo">
                <h3><span>Option 2 </span>Payments</h3>
                <div class="tuition-plan-price"><span>$</span>12,500<span>&dagger;</span></div>
                <p>Payments:</p>
                <ul>
                    <li>$1,500 due on acceptance</li>
                    <li>12 monthly payments begin after prework</li>
                </ul>
                <p class="tuition-plan-notes">&dagger; does not include interest</p>                
            </div>

            <div class="tuition-plan tuition-plan-defer">
                <h3><span>Option 3 </span>Deferred</h3>
                <div class="tuition-plan-price"><span>$</span>12,500<span>&dagger;</span></div>
                <p>Payments:</p>
                <ul>
                    <li>$1,500 due on acceptance</li>
                    <li>2 or 3 year terms available</li>
                    <li>Monthly payments begin after graduation</li>                    
                </ul>
                <p class="tuition-plan-notes">&dagger; does not include interest</p>
            </div>
        </div>

        <p>Your tuition supports Prime’s industry-leading instruction staff, excellent student:teacher ratio, development of our hiring and apprenticeship network and ongoing curriculum development. Prime has established relationships with financial institutions to ensure students with a history of financial responsibility have the option to finance their tuition through a low interest loan with payments deferred until after you’ve completed the program. Indicate you’re interested in financing when prompted in your application if you’d like us to connect you.</p>
        <p>Prime partners with respected third party financial institutions to provide payment plan and deferral options, terms and details of these plans are subject to change.</p>

        <div class="sidebar-funding">
            <h3>Financial Support For Minnesota Students Available</h3>
            <p>We’re proud to partner with The City of Minneapolis, the Minnesota High Tech Association and the Creating IT Futures Foundation to bring Prime to smart Minnesotans who would be otherwise unable to afford the program. The application process screens for individuals who may be eligible for student aid. Funds are available on a first come, first served basis so apply today.</p>
        </div>

        <h3>Required Computer Hardware</h3>
        <p>Having access to a computer you call your own is a critical part of achieving mastery as a software engineer. In order to provide a consistent experience for students we have standardized on Apple laptops running OSX Yosemite. If you aren't sure if your computer meets these specifications or want help selecting a laptop to use at Prime <%= mail_to "questions@primeacademy.io","contact us", encode: "javascript" %>. Prime will provide you with a large external monitor, a keyboard and a mouse for use in class.</p>

        <h3>Refund Policy for Early Withdrawal</h3>
        <p>If written notice of withdrawal is received before the end of the second week of prework instruction, the student will receive a full refund of all tuition paid.  If written notice of withdrawal is received after the second week of prework but before the beginning of the ninth week of classroom, the student will receive a partial refund of tuition paid based on the remaining classroom days in the term.  No refunds will be given after the beginning of the tenth week of classroom.</p>

        <div class="cta">
            <p class="cta-copy">Apply today and start your new career in software in just 18 weeks.</p>
            <%= link_to "START YOUR APPLICATION","/apply", class: "button section-program-cta-button" %>
        </div>

    </div>
    <div class="section-divider"></div>    
</div>


<div class="section section-network" id="network">
    <div class="section-body">
        <h2>Employment and Apprenticeship Network</h2>       
        <p>Prime is about preparing people for jobs in the software industry and we’re working hand-in-hand with employers to produce great outcomes for students. Below are some of the companies that contribute to student success in a variety of ways including providing curriculum feedback, hosting apprenticeships, mentoring students and hiring graduates.</p>
        <ul class="network-logos">
            <li><%= link_to image_tag("partners/logo-3m.png",class: "partner-logo"), "http://www.3m.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-aic.png",class: "partner-logo"), "http://analysts.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-avl.png",class: "partner-logo"), "http://www.avlgrowth.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-and.png",class: "partner-logo"), "http://www.ackmanndickenson.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-bir.png",class: "partner-logo"), "http://birventures.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-bustout.png",class: "partner-logo"), "http://bustoutsolutions.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-carlson.png",class: "partner-logo"), "http://carlsonschool.umn.edu/faculty-research/gary-s-holmes-center-entrepreneurship", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-digitalpeople.png", class: "partner-logo"),"http://digitalpeople.net", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-genesis10.png", class: "partner-logo"), "http://www.genesis10.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-govdelivery.png", class: "partner-logo"), "http://www.govdelivery.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-ics.png", class: "partner-logo"), "http://www.infinity-cs.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-livefront.png", class: "partner-logo"), "http://livefront.com", class: "partner-link" %></li>            
            <li><%= link_to image_tag("partners/logo-medtronic.png", class: "partner-logo"), "http://www.medtronic.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-mhta.png", class: "partner-logo"), "http://www.mhta.org", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-modernclimate.png", class: "partner-logo"), "http://modernclimate.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-morsekode.png", class: "partner-logo"), "http://morsekode.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-mncup.png", class: "partner-logo"), "http://www.breakthroughideas.org", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-mnit.png", class: "partner-logo"), "http://mn.gov/mnit", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-myriad.png", class: "partner-logo"), "http://myriadmobile.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-nerdery.png", class: "partner-logo"), "http://www.nerdery.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-periscope.png", class: "partner-logo"), "http://www.periscope.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-phdl.png", class: "partner-logo"), "http://phdigitallabs.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-roberthalf.png", class: "partner-logo"), "http://www.roberthalf.com/technology", class: "partner-link" %></li>            
            <li><%= link_to image_tag("partners/logo-smartfactory.png", class: "partner-logo"), "http://smartfactory.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-smartthings.png", class: "partner-logo"), "http://smartthings.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-softwareforgood.png", class: "partner-logo"), "http://www.softwareforgood.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-sportngin.png", class: "partner-logo"), "http://www.sportngin.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-thomsonreuters.png", class: "partner-logo"), "http://thomsonreuters.com", class: "partner-link" %></li>
            <li><%= link_to image_tag("partners/logo-wheniwork.png", class: "partner-logo"), "http://wheniwork.com", class: "partner-link" %></li>
        </ul>
        <h3>Looking for the Next Generation of Software Engineering Talent?</h3>
        <p>Looking to add passionate, entry-level devs to your team? Contact <%= mail_to "partners@primeacademy.io", "partners@primeacademy.io", encode: "javascript", subject: "Interest in becoming a Prime partner." %> to learn more about how to get involved.</p>
    </div>
    <div class="section-divider"></div>            
</div>


<div class="section section-about" id="about">
    <div class="section-body">    
        <h2>About Prime</h2>
        <%= image_tag("logo-primewhite.svg", class: "prime-logo") %>
        <p>While we wish we could say we were bit by a radioactive software engineer, our origin is a bit more mild mannered. Prime was founded by the creators of <%= link_to "The Nerdery", "http://nerdery.com" %>, a custom software development company whose super power is the collective intelligence of its 500+ employees. Inspired by the challenges that The Nerdery, its partners and its clients face in finding qualified software engineers, Prime was created to help Minnesota’s tech industry develop the talent they need to drive innovation in software.</p>

        <h3>Our Vision</h3>
            <p>We are building a new model for education that works at the speed of the software industry; transforming students' lives by empowering them with the skills and mindset to build a meaningful career in software development.</p>
        <h3>Our Values</h3>
        <ul>
            <li>Students First: Everything we do is designed to help students improve their lives.</li>
            <li>Learn By Doing: Experimentation and iteration are an engine for success.</li>
            <li>Be Humble: People who know everything can’t learn anything.</li>
            <li>Empathy > Engineering: Well-engineered solutions to poorly-understood problems fail.</li>
        </ul>
    
        <div class="cta">
            <p class="cta-copy">Help shape the culture at Prime.</p>
            <%= link_to "START YOUR APPLICATION","/apply", class: "button section-program-cta-button" %>
        </div>

        <p class="license-notice">Prime Digital Academy is licensed as a private career school with the Minnesota Office of Higher Education pursuant to Minnesota Statutes, sections 141.21 to 141.32. Licensure is not an endorsement of the institution. Credits earned may not transfer to all other institutions. Office of Higher Education, 1450 Energy Park Dr. Ste. #350, St. Paul, MN 55108.</p>


    </div>
</div>