<div class="section-hangout-cta">
	<%= link_to "RSVP FOR DECEMBER 19th at NOON","https://plus.google.com/u/0/b/109023548423120875193/events/ck7nfgivujgedhlkglgcha3pci8", class: "button" %>	
	<%= link_to "RSVP FOR DECEMBER 23rd at 2PM","https://plus.google.com/u/0/b/109023548423120875193/events/cd7k0dbgvvp6l6rufmv5k763l8c", class: "button" %>	
	<%= link_to "RSVP FOR JANUARY 2nd at 10PM","https://plus.google.com/u/0/b/109023548423120875193/events/coosebekpa8dfbjtdhg53423oh0", class: "button" %>	
	<%= link_to "RSVP FOR JANUARY 7th at 4PM","https://plus.google.com/u/0/b/109023548423120875193/events/ccrrac5rkhlltqp4akvnt00iq30", class: "button" %>	
</div>

<h1>Get live answers from Prime.</h1>
<p>Join us for a Google Hangout on <%= link_to "December 19th at noon", "https://plus.google.com/u/0/b/109023548423120875193/events/ck7nfgivujgedhlkglgcha3pci8" %>, <%= link_to "December 23 at 2:00pm", "https://plus.google.com/u/0/b/109023548423120875193/events/cd7k0dbgvvp6l6rufmv5k763l8c" %>, <%= link_to "January 2 at 10:00am", "https://plus.google.com/u/0/b/109023548423120875193/events/coosebekpa8dfbjtdhg53423oh0" %> or <%= link_to "January 7 at 4:00pm", "https://plus.google.com/u/0/b/109023548423120875193/events/ccrrac5rkhlltqp4akvnt00iq30" %> for live hangouts with Prime staff and get answers to any questions you may have about Prime. Submit your questions ahead of time or join the hangout live to participate. You can watch the feed live below or click on the links above to participate.</p>
<p>Burning questions that can't wait? Call us at (952) 222-8108 or <%= mail_to "hello@primeacademy.io", "drop us an email", encode: "javascript" %>.</p>


<iframe width="940" height="500" src="https://www.youtube.com/embed/RP6BIsFOt3s" frameborder="0" allowfullscreen class="hangout-video"></iframe>