<h1>Review</h1>

<%= simple_form_for @admission_application, url: wizard_path, method: :put do |f| -%>

	<% if @admission_application.errors.any? %>
	  <div class="alert alert-error">
	   <h2 class="alert-heading">
	     Please address the items below before submiting:
	   </h2>
	  <ul>
	   <% @admission_application.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	   <% end %>
	 </ul>
	</div>
	<% else %>
	<div class="alert alert-notice">
		<h2 class="alert-heading">Congratulation, it looks like you're ready to submit.</h2>
		<p>Review your information below and click "Submit your application" when you're ready.</p>
	</div>
	<% end %>

	<div class="review">
		<h3>Name and Contact</h3>
		<dl>
			<dt>Name</dt>
			<dd><%= @admission_application.name || "incomplete" %></dd>
			<dt>Phone</dt>
			<dd><%= @admission_application.phone || "incomplete" %></dd>			
			<dt>Address</dt>
			<dd>
				<address>
					<%= simple_format(@admission_application.full_address) || "incomplete" %>
				</address>
			</dd>
		</dl>
		<h3>Education and Employment</h3>
		<dl>
			<dt>Legal Status</dt>
			<dd><%= @admission_application.legal_status || "incomplete" %></dd>
			<dt>Education</dt>
			<dd><%= @admission_application.education || "incomplete" %></dd>		
			<dt>Employment Status</dt>
			<dd><%= @admission_application.employment_status || "incomplete" %></dd>
		</dl>
		<h3>Income</h3>
		<dl>
			<dt>Annual Income</dt>
			<dd><dd><%= number_to_currency(@admission_application.income, precision: 0) || "incomplete" %></dd></dd>
		</dl>
		<h3>Links and Social Accounts</h3>
		<dl>
			<dt>LinkedIn</dt>
			<dd><%= @admission_application.linkedin_account || "incomplete" %></dd>		
			<dt>Twitter</dt>
			<dd><%= @admission_application.twitter_account || "incomplete" %></dd>				
			<dt>Github</dt>
			<dd><%= @admission_application.github_account || "incomplete" %></dd>	
			<dt>Your Website</dt>
			<dd><%= @admission_application.website_link || "incomplete" %></dd>					
		</dl>
		<h3>Cohorts</h3>
		<p>You indicated interest in the following cohorts:</p>
		<ul>
			<% @admission_application.cohorts.each do |cohort| %>
			<li><%= cohort.label %></li>
			<% end %>
		</ul>

		<h3>Personal Questions</h3>
		<% if @admission_application.errors[:profile_question_answers].present? -%>
		<p>You must complete the <%= link_to "personal questions", wizard_path(:personal) %> to be able to submit your application.</p>
		<% else %>
		<p>You've completed all the personal questions.</p>
		<% end %>

		<h3>Logic Questions</h3>
		<% if @admission_application.errors[:logic_question_answers].present? -%>
		<p>You must complete the <%= link_to "logic questions", wizard_path(:logic) %> to be able to submit your application.</p>
		<% else %>
		<p>You've completed all the logic questions.</p>
		<% end %>

		<h3>Technical Challenges</h3>
		<% if @admission_application.resume_link.blank? %>
		<p>You have not yet submitted your resume link.</p>
		<% else %>
		<p>Your resume is viewable at <%= link_to @admission_application.resume_link, @admission_application.resume_link %>.</p>
		<% end %>
	</div>

	<h3>Legal Notices</h3>
	<%= f.input :payment_option, collection: {"Prepay Plan ($1,500 deposit, $10,500 in 1 payment) *$500 discount*"=>"Prepay","Payment Plan ($1,500 deposit, $11,000 in 12 payments)"=>"Payments","Deferred Payment Plan ($1,500 deposit, $11,000 in 24 or 36 payments)"=>"Deferral"}, label: "How do you intend to pay for Prime?" %>
	<%= f.input :payment_plan, as: :boolean, label: "If accepted, I know I will be required to provide a $1,500 deposit to secure my spot.", error: false %>
	<%= f.button :submit, "Submit your application", class: "button" %>

<% end %>
