<h1>Profile Questions</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Question</th>
      <th>Published</th>
      <th>Scoring guideline 1</th>
      <th>Scoring guideline 2</th>
      <th>Scoring guideline 3</th>
      <th>Scoring guideline 4</th>
      <th>Scoring guideline 5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_questions.each do |profile_question| %>
      <tr>
        <td><%= profile_question.question %></td>
        <td><%= profile_question.published %></td>
        <td><%= profile_question.scoring_guideline_1 %></td>
        <td><%= profile_question.scoring_guideline_2 %></td>
        <td><%= profile_question.scoring_guideline_3 %></td>
        <td><%= profile_question.scoring_guideline_4 %></td>
        <td><%= profile_question.scoring_guideline_5 %></td>
        <td><%= link_to 'Show', profile_question %></td>
        <td><%= link_to 'Edit', edit_profile_question_path(profile_question) %></td>
        <td><%= link_to 'Destroy', profile_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile question', new_profile_question_path %>
