<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->

    <!-- SEO -->
    <title>PrimeAcademy.io</title>
    <meta name="description" content="Public recruiting website for Prime." />
    <meta name="author" content="" />

    <!-- SECURITY -->
	<%= csrf_meta_tags %>

    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path('apple-touch-icon-57x57.png') %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path('apple-touch-icon-114x114.png') %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path('apple-touch-icon-72x72.png') %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path('apple-touch-icon-144x144.png') %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path('apple-touch-icon-60x60.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path('apple-touch-icon-120x120.png') %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path('apple-touch-icon-76x76.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path('apple-touch-icon-152x152.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('apple-touch-icon-180x180.png') %>">
    <link rel="icon" type="image/png" href="a<%= image_path('favicon-192x192.png" sizes="192x192') %>">
    <link rel="icon" type="image/png" href="<%= image_path('favicon-160x160.png" sizes="160x160') %>">
    <link rel="icon" type="image/png" href="<%= image_path('favicon-96x96.png') %>" sizes="96x96">
    <link rel="icon" type="image/png" href="<%= image_path('favicon-16x16.png') %>" sizes="16x16">
    <link rel="icon" type="image/png" href="<%= image_path('favicon-32x32.png') %>" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= image_path('mstile-144x144.png') %>">       

    <!-- STYLESHEETS -->
    <%= stylesheet_link_tag 'admissions', media: 'screen, projection', 'data-turbolinks-track' => true %>

    <!--[if lte IE 8]><%= stylesheet_link_tag 'legacy', media: 'screen, projection', 'data-turbolinks-track' => true %><![endif]-->
    <%= stylesheet_link_tag 'print', media: 'print', 'data-turbolinks-track' => true %>

</head>
<body>
    
    <div class="layout">

        <div class="layout-header layout-header-fixed">
            <div class="layout-header-banner">
                <div class="logo">
                    <a href="<%= root_path %>" class="logo-link">
                        <%= image_tag "logo-prime-horizontal.png", :alt=>"Prime - Software Engineering Academy", :itemprop=>"logo" %>
                        <h1 class="isHidden" itemprop="name">Prime Software Engineering Academy</h1>
                    </a>
                </div>                
            </div><!-- /layout-header-banner -->         
            <div class="layout-header-navigation-banner">    
                <ol class="navigation-menu admissions-menu">
                    <li class="navigation-menu-item admissions-menu-item"><%= link_to "Start", wizard_path(:start), :class=>"admissions-menu-item-link"+(current_page?(wizard_path(:start)) ? " admissions-menu-item-linkCurrent" : "" ) %></li>
                    <li class="navigation-menu-item admissions-menu-item"><%= link_to "General", wizard_path(:general), :class=>"admissions-menu-item-link"+(current_page?(wizard_path(:general)) ? " admissions-menu-item-linkCurrent" : "" ) %></li>
                    <li class="navigation-menu-item admissions-menu-item"><%= link_to "Personal", wizard_path(:personal), :class=>"admissions-menu-item-link"+(current_page?(wizard_path(:personal)) ? " admissions-menu-item-linkCurrent" : "" ) %></li>
                    <li class="navigation-menu-item admissions-menu-item"><%= link_to "Logic", wizard_path(:logic), :class=>"admissions-menu-item-link"+(current_page?(wizard_path(:logic)) ? " admissions-menu-item-linkCurrent" : "" ) %></li>
                    <li class="navigation-menu-item admissions-menu-item"><%= link_to "Technical", wizard_path(:technical), :class=>"admissions-menu-item-link"+(current_page?(wizard_path(:technical)) ? " admissions-menu-item-linkCurrent" : "" ) %></li>
                    <li class="navigation-menu-item admissions-menu-item"><%= link_to "Review", wizard_path(:submit), :class=>"admissions-menu-item-link"+(current_page?(wizard_path(:submit)) ? " admissions-menu-item-linkCurrent" : "" ) %></li>
                    <li class="navigation-menu-item admissions-menu-item admissions-menu-item admissions-menu-itemLogout"><%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class=>"admissions-menu-item-link admissions-menu-item-linkLogout" %></li>
                </ol>            
            </div><!-- /layout-header-navigation-banner -->
        </div><!-- /layout-header -->

        <div class="layout-flash">
			<div class="notice"><%= notice %></div>
			<div class="alert"><%= alert %></div>
        </div><!-- /layout-flash -->

        <div class="layout-body">
            <!-- CONTENT -->         
            <%= yield %>
        </div><!-- /layout-body -->    

        <div class="layout-footer" id="footer">
            <p>Footer content</p>
        </div><!-- /layout-footer -->
    </div><!-- /layout -->

    <!-- JAVASCRIPT -->
    <%= requirejs_include_tag 'application' %>

    <!-- ANALYTICS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '<%= ENV['GOOGLE_ANALYTICS_ID'] %>', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>

</body>
</html>