<h2>Apply to Prime</h2>
<p>Prior coding experience isn't necessary, though an effective baseline understanding of computers and digital technology is required. Our application will give you a chance to show the passion that you'll bring to your study at Prime and the craft of software development. Sign up below and look through the application - you'll be able to save your progress and complete it at your own pace.</p>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
